.main-container {
  border: 2px solid white;
  background-color: rgb(148, 167, 196);
  width: 800px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 2px solid white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 2px solid white;
}

.logo {
  font-size: 2rem;
  font-family: fantasy;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 2px solid white;
}

.single-item {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
