.main-container {
  border: 2px solid white;
  background-color: rgb(148, 167, 196);
  width: 800px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}
.top-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
}

.navbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
}

.logo {
  font-size: 2rem;
  font-family: fantasy;
}

.item-container {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 2px solid white;
}

.single-item {
  width: 180px;
  height: 180px;
  color: black;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.single-item p {
  margin: 0;
  padding: 0;
}
